!!! 5
html
  head

  body
    #Index
      h1 Disponibles!
      p Pura Vida!
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
    #Escritorio
      h1 Escritorio
      p hola
            p Pura Vida!
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1
      p 1