form.pure-form.pure-skin-mine.pure-form-aligned
          fieldset
            .pure-control-group
              label(for='name') Nombre: 
              input#name(type='text', placeholder='Su Nombre')
            .pure-control-group
              label(for='email') E-mail: 
              input#email(type='email', placeholder='Correo al que le podamos contactar')
            .pure-control-group
              label(for='subject') Asunto: 
              input#subject(type='text', placeholder='Sobre que trata su mensaje')
            .pure-control-group
              label(for='message') Mensaje: 
              input#message(type='textarea', placeholder='Agradecemos sus comentarios...')
            .pure-controls
              button.pure-button(type='submit') Submit