/* Using Compass. */

@import compass/reset
@import compass/css3
@import master
@import paleta
@import svg

@font-face
  font-family: 'corbertregular'
  font-style: normal
  font-weight: normal
  src: url('../fonts/Corbert-Regular-webfont.woff2') format('woff2')
  src: url('../fonts/Corbert-Regular-webfont.woff') format('woff')

@font-face
  font-family: 'Red Hat Text'
  font-style: normal
  font-weight: normal
  src: url('../fonts/RedHatText-Regular.woff2') format('woff2')
  src: url('../fonts/RedHatText-Regular.woff') format('woff')

html
  scroll-behavior: smooth

body
  background-color: $cafe
  font-family: 'Red Hat Text'
  font-size: 12px
  line-height: 18px
  color: darken($gris, 10%)
  margin: 0
  padding: 0

h1, h2, h3, h4
  font-family: 'corbertregular'

p
  font-size: 14px

#wrapper
  width: $ancho
  height: 3000px
  margin: 0 auto
  background-color: $gris
  padding: 0
  position: relative

.section
  width: $ancho
  height: $alto
  margin: 0
  padding: 0
  position: relative

.center
  background: #222
  text-align: center

.smooth 
  -webkit-transition: 0.5s
  -moz-transition: 0.5s
  -ms-transition: 0.5s
  -o-transition: 0.5s
  transition: 0.5s

#Inicio
  background-color: $blanco

.logo
  width: 249px
  text-align: right
  position: absolute
  left: 60px
  top: 45px
  float: left

  h3 
    font-size: 15px
    margin-top: 12px

  h2 
    font-size: 25px
    margin-top: 12px

#main_image
  position: absolute
  margin-top: 57px
  margin-left: 505px

#main_message
  position: absolute
  top: 305px
  left: 113px
  text-align: center

.no-under
  text-decoration: none

.box
  border: 1px solid
  text-align: center
  padding: 16px 22px

#main_box
  color: $gris
  border-color: $gris
  padding: 26px 22px 10px 22px
  +transition( background .5s ease-out )
  &:hover, &.hover
    background: $cafe
    color: white

.call
  text-transform: none
  font-size: 36px
  color: $naranja
  margin: 0px 0px 19px 0px 
  padding: 0px

.credit
  font-size: 13px
  text-align: right
  text-style: italic


h1
  color: $naranja
  font-size: 20px
  text-transform: uppercase

#main_image_footer
  position: absolute
  top: 530px
  left: 830px
  height: 82px

  p
    font-size: 13px
    margin-top: 5px

  h4
    color: $naranja
    font-size: 15px
    background-color: $cafe
    margin: 0px
    padding: 3px 3px 6px 6px

#down
  position: absolute
  top: 379px
  left: 293px

.nav
  position: absolute
  bottom: 0px
  left: 0px
  height: 19px
  a
    background: $naranja
    text-decoration: none
    color: darken($gris, 30%)
    //color: saturate($naranja, 20%)
    margin: 0px
    padding: 0px 10px 4px 8px
    +transition( background .5s ease-out )
    &:hover
      background: $cafe
      color: $naranja
  .dot
    width: 10px
    height: 10px
    float: right
    margin: 9px 0 0 0
    display: inline


#Galeria
  background: $gris
  .dot
    background: $cafe
  .disp
    background: url(../images/checkmark.png) no-repeat 20px 12px,$naranja
    width: 244px
    height: 50px
    position: absolute
    right: 0
    color: $cafe
    display: block
    text-decoration: none
    cursor: pointer
    border: 1px solid $naranja

    &:hover
      border: 1px solid $cafe

    p
      margin-left: 45px
      padding-top: 18px

  .desc
    position: absolute
    top: 119px
    left: 440px

    p
      color: white
      padding: 5px 0px

    h3
      color: white
      font-size: 20px

#Acerca
  background: url("../images/R_Morales.jpg") no-repeat right

  .dot
    background: $blanco

  .sobre-gris
    left: 120px
    top: 80px
    color: $naranja

  .body
    position: absolute
    top: 246px 
    left: 120px
    width: 500px
    color: $blanco
    .credit
      color: saturate($naranja, 20%)
      font-size: 13px
      font-style: italic
      margin: 0px 0px 10px 0px
      text-align: right
    p
      margin: 12px 0 0 0

#Prensa
  width: $ancho - 2
  background: $cafe
  border-left: 1px solid $gris
  border-right: $gris solid 1px
  .dot
    background: $gris

#press_message
  position: absolute
  top: 60px
  left: 70px
  .call
    color: $gris

#press_box
  @extend #main_box
  .call
    color: $gris

#swipe-left, #swipe-right
  +transition( background .2s ease-out )
  background: url(../images/sprite_mc.gif) no-repeat
  position: absolute
  width: 67px
  height: 37px
  z-index: 1001
  top: 455px

#swipe-left
  background-position: 0px 0px
  left: 67px
  &:hover
    background-position: -30px 0px

#swipe-right
  background-position: -30px -37px
  right: 67px
  &:hover
    background-position: 0px -37px

.vertical-boxes
  background: url(../images/vertical-boxes.gif) no-repeat
  z-index: 1000
  width: 9px
  height: 296px
  position: absolute
  top: 150px
  &.left
    left: 54px
  &.right
    right: 54px

#Exposiciones
  background: url(../images/silla_bg.jpg) no-repeat left bottom $blanco
  .dot
    background: $gris
  .body
    position: absolute
    top: 140px
    left: 320px
    width: 590px

    h1
      margin-bottom: 36px

    .table
      display: table
      margin: 0 50px 0px 0

    .caption
      display: table-cell
      width: 38px

    .description
      display: table-cell

    p
      // margin: 9px 0px
      padding: 9px 0px

    #expoBody
      position: relative
      height: 360px
      overflow: scroll

#Contacto
  background-color: $gris
  .dot
    background: $naranja

  div.form
    width: 490px
    position: absolute
    top: 100px
    left: 100px
    h1
      padding: 5px 0 8px 54px
    label
      width: 100%
      display: block
      padding: 10px 0 10px 0
      span
        display: block
        font-size: 14px
        color: $blanco
        line-height: 29px
        float: left
        width: 100px
        text-align: right
        padding: 5px 20px 0 0
    .input_text
      color: $cafe
      padding: 10px 10px
      width: 200px
      background: lighten($gris, 3)
      border: 1px double darken($gris, 10)
      &:focus
        border: 1px double $naranja
    .message
      @extend .input_text
      padding: 7px 7px
      width: 350px
      overflow: hidden
      height: 150px
    .button
      margin: 0 0 10px 0
      padding: 4px 7px
      color: $cafe
      background: $naranja
      border: 0px
      position: relative
      top: 18px
      left: 120px
      width: 100px
      height: 40px
      // border-bottom: 1px double $naranja
      &:hover
        border: 1px double $cafe
      &:active
        background: $cafe
        color: $naranja
    input, textarea, label
      +transition( all .2s ease-in )
    input.error, textarea.error
      background: desaturate($naranja, 50)
    #last
      display: none
    label.error
      color: saturate($naranja, 30)
      margin-left: 122px
    textarea
      resize: none
    
  .icons
    position: absolute
    right: 60px
    top: 119px
    border-left: 1px double lighten($gris, 10)

    .icon
      margin: 20px
      width: 200px
      a
        color: saturate($naranja, 30)
        text-decoration: none

      p
        color: $blanco

#Disponibles
  display: none
  background-color: #ffffff
  border-radius: 0px
  box-shadow: #999999
  color: #111111
  display: none
  min-width: 450px
  padding: 25px
  min-height: 250px

  .b-close
    position: absolute
    right: 15px
    top: 14px
    display: block
    width: 17px
    height: 17px
    background: url(../images/close.gif) no-repeat
    cursor: pointer

  #content
    position: relative
    overflow: scroll
    height: 338px !important
    margin: 20px

    .table
      display: table
      margin: 0 0 16px 8px
      width: 650px

    .pic
      display: table-cell

      .thumb
        height: 100px

    .desc
      display: table-cell
      float: left
      padding: 0 40px 0 20px

      h3
        color: $naranja
        font-size: 14px

      .price
        color: red

    .marked
      background: lighten($gris, 50%)

